* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

#visual {
  width: 100%;
  height: calc( 100vh - 151px);
  position: relative; }
  #visual .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;
    overflow: hidden; }
    #visual .inner .wrap {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      #visual .inner .wrap .left {
        width: 29%;
        height: 65vh;
        padding-top: 40px;
        border-bottom: 1px solid #bbb;
        margin-right: 2%; }
        #visual .inner .wrap .left #txt {
          position: relative; }
          #visual .inner .wrap .left #txt ul {
            width: 100%;
            height: 400%;
            position: absolute;
            top: -100%; }
            #visual .inner .wrap .left #txt ul li {
              width: 100%;
              height: 25%;
              display: flex;
              position: absolute;
              top: 40px;
              left: 2%;
              font: 5vh/1 'arial';
              transform: scale(1.2);
              transition: 0.3s;
              opacity: 0; }
              #visual .inner .wrap .left #txt ul li svg text {
                font: 42px/1 'Overpass';
                fill: #fff;
                stroke: #111;
                stroke-width: 2;
                stroke-linejoin: miter;
                stroke-linecap: square;
                stroke-dasharray: 240px;
                stroke-dashoffset: 240px;
                transform: scale(0.96);
                transform-origin: center center;
                animation: ani 3s alternate-reverse linear infinite; }
@keyframes ani {
  0% {
    stroke-dashoffset: 240px;
    transition: stroke-dashoffset 1s 1s, fill 1s 0s; }
  100% {
    fill: #111;
    stroke-width: 1;
    stroke-dashoffset: 0px;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s 0s, fill 1s 1s; } }
              #visual .inner .wrap .left #txt ul li.on {
                transform: scale(1);
                opacity: 1; }
        #visual .inner .wrap .left .btnview {
          margin-top: 150px;
          margin-bottom: 45px; }
          #visual .inner .wrap .left .btnview a {
            color: #333;
            display: inline-block;
            font-size: 22px;
            margin: 0px 10px 100px 10px;
            transition: 0.5s ease-in-out; }
            #visual .inner .wrap .left .btnview a:hover {
              transform: scale(1.2); }
          #visual .inner .wrap .left .btnview > p {
            display: inline-block;
            font: 16px/1 'arial';
            color: #333;
            margin-bottom: 80px; }
        #visual .inner .wrap .left > .pic {
          width: 100%;
          height: 200px; }
          #visual .inner .wrap .left > .pic img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
      #visual .inner .wrap .right {
        width: 69%;
        height: 65vh;
        padding-top: 40px;
        border-bottom: 1px solid #bbb;
        position: relative; }
        #visual .inner .wrap .right #subTxt {
          width: 70vw;
          height: 23vh;
          position: absolute;
          top: 23%;
          left: 1%;
          margin-top: -10vh;
          overflow: hidden; }
          #visual .inner .wrap .right #subTxt ul {
            width: 100%;
            height: 400%;
            position: absolute;
            top: -100%; }
            #visual .inner .wrap .right #subTxt ul li {
              width: 100%;
              height: 25%;
              display: flex;
              justify-content: left;
              align-items: center; }
              #visual .inner .wrap .right #subTxt ul li p {
                font: bold 18px/1.4 'arial';
                color: #111;
                position: absolute;
                left: 1%;
                top: 280px;
                opacity: 0; }
              #visual .inner .wrap .right #subTxt ul li article {
                position: absolute;
                left: 1%;
                top: 35%; }
                #visual .inner .wrap .right #subTxt ul li article span {
                  font: 15px/1.4 'arial';
                  color: #999999;
                  transition: 0.3s;
                  width: 65%;
                  display: block;
                  margin-top: 50px;
                  opacity: 0; }
                #visual .inner .wrap .right #subTxt ul li article strong {
                  font: 15px/1.4 'arial';
                  color: #999999;
                  transition: 0.3s;
                  width: 65%;
                  display: block;
                  margin-top: 50px;
                  opacity: 0; }
              #visual .inner .wrap .right #subTxt ul li.on span, #visual .inner .wrap .right #subTxt ul li.on p {
                transform: scale(1);
                opacity: 1; }
        #visual .inner .wrap .right #num {
          width: 80px;
          height: 6vh;
          position: absolute;
          top: 42%;
          right: 0%;
          overflow: hidden; }
          #visual .inner .wrap .right #num ul {
            width: 100%;
            height: 400%;
            position: absolute;
            top: -100%; }
            #visual .inner .wrap .right #num ul li {
              width: 100%;
              height: 25%;
              display: flex;
              justify-content: center;
              align-items: center;
              font: 50px/1 'arial';
              color: #222;
              position: relative;
              transition: 0.3s; }
              #visual .inner .wrap .right #num ul li::before {
                content: "0";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 3px;
                left: 2px;
                transform: scale(0.2);
                transition: 0.3s;
                color: #fff; }
              #visual .inner .wrap .right #num ul li.on {
                transform: scale(1.2); }
                #visual .inner .wrap .right #num ul li.on::before {
                  transform: scale(1.5);
                  opacity: 0;
                  color: #111; }
        #visual .inner .wrap .right #pic {
          width: 100%;
          height: 200px;
          position: absolute;
          top: 73%;
          left: 1%;
          margin-top: -10vh;
          overflow: hidden; }
          #visual .inner .wrap .right #pic ul {
            width: 100%;
            height: 400%;
            position: absolute;
            top: -100%; }
            #visual .inner .wrap .right #pic ul li {
              width: 100%;
              height: 25%;
              transition: 0.5s; }
              #visual .inner .wrap .right #pic ul li img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0;
                transition: 0.5s; }
              #visual .inner .wrap .right #pic ul li.on img {
                opacity: 1; }
      #visual .inner .wrap .btnPrev {
        position: absolute;
        bottom: 12%;
        right: 4%;
        transform: translateY(-50%);
        display: block;
        width: 40px;
        height: 40px;
        border: 1px solid #ccc;
        text-align: center;
        font: 14px/40px 'arial';
        color: #555; }
        #visual .inner .wrap .btnPrev i {
          font-size: 13px;
          color: #888; }
      #visual .inner .wrap .btnNext {
        position: absolute;
        bottom: 12%;
        right: 0%;
        transform: translateY(-50%);
        display: block;
        width: 40px;
        height: 40px;
        border: 1px solid #ccc;
        text-align: center;
        font: 14px/40px 'arial';
        color: #555; }
        #visual .inner .wrap .btnNext i {
          font-size: 13px;
          color: #888; }
    #visual .inner .bottom {
      width: 100%;
      height: 10vh;
      display: flex;
      padding: 30px 20px; }
      #visual .inner .bottom .first {
        width: 80%; }
        #visual .inner .bottom .first article {
          width: 100px;
          height: 50px;
          display: inline-block; }
          #visual .inner .bottom .first article > p {
            font: bold 15px/1 'arial';
            margin-bottom: 5px; }
          #visual .inner .bottom .first article > span {
            font: 16px/1 'arial';
            color: #999; }
      #visual .inner .bottom .second {
        width: 20%;
        transition: 0.5s; }
        #visual .inner .bottom .second p {
          display: inline-block;
          margin-right: 20px;
          font: 15px/1 'arial';
          color: #999; }
        #visual .inner .bottom .second .line {
          display: inline-block;
          width: 80px;
          height: 2px;
          background-color: #bbb;
          vertical-align: middle;
          margin-right: 20px; }
        #visual .inner .bottom .second a {
          color: #bbb;
          display: inline-block; }
        #visual .inner .bottom .second:hover {
          transform: translate(10px, 0); }

/*# sourceMappingURL=style.css.map */
