@charset 'UTF-8'; 

*{ margin:0px; padding:0px; box-sizing:border-box; }
ul,ol,li{ list-style:none; }
a{ text-decoration:none; }


#visual {
    width: 100%;
    height: calc( 100vh - 151px);
    position: relative;

    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    
        .wrap{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .left{
                width: 29%;
                height: 615px;
                padding-top: 40px;
                border-bottom: 1px solid #bbb;
                margin-right: 2%;
                #txt{
                    position: relative;
                    ul{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: -100%;
                        li{
                            width: 100%;
                            height: 25%;
                            display: flex;
                            position: absolute;
                            top: 66px;
                            left: 2%;
                            transform: scale(1.2);
                            transition: 0.3s;
                            opacity: 0;
                            transform: translate(20px,10px);
                            svg text{
                                font: 42px/1 'Overpass';
                                fill: #fff;
                                stroke: #111;
                                stroke-width: 2;
                                stroke-linejoin: miter;
                                stroke-linecap: square;
                                stroke-dasharray: 240px;
                                stroke-dashoffset: 240px;
                                transform: scale(0.96);
                                transform-origin: center center;
                                animation: ani 3s alternate-reverse linear infinite;
        
                            }
                            @keyframes ani{
                                0%{ stroke-dashoffset:240px;
                                    transition: stroke-dashoffset 1s 1s, fill 1s 0s; 
                                }
        
                                100%{ 
                                    fill: #111;
                                    stroke-width: 1;
                                    stroke-dashoffset:0px;
                                    stroke-dashoffset: 0;
                                    transition: stroke-dashoffset 1s 0s, fill 1s 1s;
                                }
                            }
                            

                            &.on{
                                transform: scale(1);
                                opacity: 1;
                            }

                        }
                    }

                }
                .btnview{
                    margin-top: 170px;
                    margin-bottom: 35px;
                    z-index: 3;
                    transition: 0.5s;
                    a{
                        color: #333;
                        display: inline-block;
                        font-size: 22px;
                        margin: 0px 10px 100px 10px;
                        transition: 0.5s ease-in-out;
                        cursor: pointer;
                        z-index: 2;
                        
                    }
                    >p{
                        display: inline-block;
                        font: 16px/1 'arial';
                        color: #333;
                        margin-bottom: 80px;  
                        transition: 0.5s;
                    }
                    &:hover{
                        a{
                            transform: scale(1.3);
                        }
                        p{
                            font: bold 16px/1 'arial';
                            
                        }
                    }
                    
                }

                >.bg{
                    width: 340px;
                    height: 200px;
                    position: absolute;
                    top: 46%;
                    left: 0;
                    overflow: hidden;
                    transition: 0.5s;
                    
                    ul {
                        width: 100%;
                        height: 400%;
                        position: absolute;
                        top: -100%;
                        
                        li {
                            width: 100%;
                            height: 25%;
                            transition: 0.5s;
                            
                            img{
                                width: 340px;
                                height: 200px;
                                object-fit: cover;
                                transition: 0.5s;
                            }
                            
                            &.on {
                                img {
                                    transform: scale(1.1);
                                
                                }
                            }
                        }
                    }
                    

                }
                
            }
            .right{
                width: 69%;
                height: 615px;
                padding-top: 40px;
                border-bottom: 1px solid #bbb;
                position: relative;
                #subTxt{
                    width: 100%;
                    height: 200px;
                    position: absolute;
                    top: 20%;
                    left: 1%;
                    margin-top: -10vh;
                    overflow: hidden;
            
                    ul {
                        width: 100%;
                        height: 400%;
                        position: absolute;
                        top: -100%;
            
                        li {
                            width: 25%;
                            height: 100%;
                            display: flex;
                            justify-content: left;
                            align-items: center;
                            p{
                                font: bold 18px/1.4 'arial';
                                color: #111;
                                position: absolute;
                                left: 1%;
                                top: 280px;
                                opacity: 0;
                            }
                            article{
                                position: absolute;
                                left: 1%;
                                top: 36%;
                                span {
                                    font: 15px/1.4 'arial';
                                    color: #999999;
                                    transition: 0.3s;
                                    width: 65%;
                                    display: block;
                                    margin-top: 50px;
                                    opacity: 0;
                                }

                                strong{
                                    font: 15px/1.4 'arial';
                                    color: #999999;
                                    transition: 0.3s;
                                    width: 65%;
                                    display: block;
                                    margin-top: 50px;
                                    opacity: 0;

                                }
                            }

                            &.on {
                                span,p {
                                    transform: scale(1);
                                    opacity: 1;
                                }
                            }
                        }
            }

                }

                #num {
                    width: 80px;
                    height: 60px;
                    position: absolute;
                    top: 42%;
                    right: 0%;
                    overflow: hidden;
            
                    ul {
                        width: 100%;
                        height: 400%;
                        position: absolute;
                        top: -100%;
            
                        li {
                            width: 100%;
                            height: 25%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font: 50px/1 'arial';
                            color: #222;
                            position: relative;
                            transition: 0.3s;

                            &::before{
                                content: "0"; display: block; width: 100%; height: 100%; 
                                position: absolute; top: 3px; left: 2px; transform: scale(0.2); transition: 0.3s;
                                color: #fff;
                            }
                            &.on{
                                transform: scale(1.2);
                                &::before {
                                    transform: scale(1.5); opacity: 0;
                                    color: #111;
                                 }
                            }
 
                        }
                    }
                }

                #pic {
                    width: 100%;
                    height: 200px;
                    position: absolute;
                    top: 57%;
                    left: 1%;
                    overflow: hidden;
            
                    ul {
                        width: 100%;
                        height: 400%;
                        position: absolute;
                        top: -100%;
            
                        li {
                            width: 100%;
                            height: 25%;
                            transition: 0.5s;

                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                opacity: 0;
                                transition: 0.5s;
                            }
                            
            
                            &.on {
                                img {
                                    opacity: 1;
            
                                }
                            }
                        }
                    }
                }
            }

            .btnPrev {
                position: absolute;
                bottom: 18%;
                right: 4%;
                transform: translateY(-50%);
                display: block;
                width: 40px;
                height: 40px;
                border: 1px solid #ccc;
                text-align: center;
                font: 14px/40px 'arial';
                color: #555;
                margin-bottom: 5px;
                transition: 0.5s;
        
                i {
                    font-size: 13px;
                    color: #888;
                }
                &:hover{
                    background: #666;
                    transform: scale(0.95);
                    position: absolute;
                    bottom: 20.5%;
                    right: 4%;
                    i{
                        color: #fff;
                    }
                }
            }
        
            .btnNext {
                position: absolute;
                bottom: 18%;
                right: 0%;
                transform: translateY(-50%);
                display: block;
                width: 40px;
                height: 40px;
                border: 1px solid #ccc;
                text-align: center;
                font: 14px/40px 'arial';
                color: #555;
                margin-bottom: 5px;
                transition: 0.5s;
        
                i {
                    font-size: 13px;
                    color: #888;
                }
                &:hover{
                    background: #666;
                    transform: scale(0.95);
                    position: absolute;
                    bottom: 20.5%;
                    right: 0;
                    i{
                        color: #fff;
                    }
                }
            }

        }

        .bottom{
            width: 100%;
            height: 150px;
            display: flex;
            padding: 30px 20px;

            .first{
                width: 80%;
                article{
                    width: 100px;
                    height: 50px;
                    display: inline-block;

                    >p{
                    font: bold 15px/1 'arial';
                    margin-bottom: 5px;
                    }
                    >span{
                    font: 16px/1 'arial';
                    color: #999;
                    }
                }
            }

            .second{
            width: 20%;
            transition: 0.5s;
                p{
                    display: inline-block;
                    margin-right: 20px;
                    font: 15px/1 'arial';
                    color: #999;
                }
            .line{
                display: inline-block;
                width: 80px;
                height: 2px;
                background-color: #bbb;
                vertical-align: middle;
                margin-right: 20px;
                
            }
            a{
                color: #bbb;
                display: inline-block;
            }

            &:hover{
                
                transform: translate(10px,0);
                
            }

            }
        }

    }
}

.pop{
    width: 700px;
    height: 500px;
    background: rgba(0,0,0,1);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -350px;
    animation: vid 2s;
    overflow: hidden;
    

    video{
        width: 100%;
        height: 100%; 
        object-fit: fill;
    }

    span{
        color: #fff;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        font: bold 15px/1 'arial';
        &:hover{
            border-bottom: 1px solid #bbb;
        }
        
    }

    @keyframes vid{
        0%{opacity: 0.1};
        100%{opacity: 1};
    }
}